<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Admin Dashboard</span>
  </div>
</nav>

<section id="dashboard" class="section-container">
  <div class="row">
      <div class="card">
        <div class="card-header">Things to do</div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
    </div>
    <div class="manager">
      <div class="box orange darken-4">
        <%= link_to "#" do %>
          <%= fa_icon("angle-double-right", text: ' Classes') %>
          <%= fa_icon "dot-circle-o", class:  "icon no-padding" %>
        <% end %>
      </div>
      <div class="box orange darken-3">
        <%= link_to "#" do %>
          <%= fa_icon("angle-double-right", text: ' Resources') %>
          <%= fa_icon "bookmark", class:  "icon no-padding" %>
        <% end %>
      </div>
      <div class="box orange darken-2">
        <%= link_to "#" do %>
          <%= fa_icon("angle-double-right", text: ' Students') %>
          <%= fa_icon "users", class:  "icon no-padding" %>
        <% end %>
      </div>
      <div class="box orange darken-1">
        <%= link_to "#" do %>
          <%= fa_icon("angle-double-right", text: ' Action Items') %>
          <%= fa_icon "check-square-o", class:  "icon no-padding" %>
        <% end %>
      </div>
      <div class="box orange">
        <%= link_to "#" do %>
          <%= fa_icon("angle-double-right", text: ' Administration') %>
          <%= fa_icon "bank", class:  "icon no-padding" %>
        <% end %>
      </div>
<!-- 
      <div class="list-header">General</div>
      <ul class="fa-ul">
        <li><%= link_to fa_icon("angle-double-right li", text: ' Manage classes'), "#" %></li>
        <li><%= link_to fa_icon("angle-double-right li", text: ' Manage resources'), "#" %></li>
        <li><%= link_to fa_icon("angle-double-right li", text: ' Manage Administration'), "#" %></li>
        <li><%= link_to fa_icon("angle-double-right li", text: ' Access student account'), "#" %></li>
        <li><%= link_to fa_icon("angle-double-right li", text: ' Manage student accounts'), "#" %></li>
        <li><%= link_to fa_icon("angle-double-right li", text: ' List all incomplete action items'), "#" %></li>
      </ul> -->
    </div>
  </div>

</section>