<section id="home-1">
  <span class="thetitle" style="padding-top : 5vh !important; ">Compass<br><small>centre for self-directed learning
  </small></span> 
  <div id="login-signup-container">
    <div class="login-signup-header">
      <div class="signup-header">
        <%= link_to "Sign Up", new_user_path %>
      </div>
      <div class="login-header" style="border-bottom: 5px solid #ee6508;">
        <%= link_to "Login", root_path %>
      </div>
    </div>
    <%= form_for @user, url: {controller: "sessions", action: "login_authentication"},
     html: {method: "post" } do |f| %>
    <%= f.text_field :username, autofocus: true, placeholder: "EMAIL ADDRESS", class: "login-field" %>
    <%= f.password_field :password, placeholder: "PASSWORD", class: "login-field"%>
    <%= f.submit "Login", class: "login_button" %>
    <% end %>
  </div>
</section>

