<section id="login" style=<%= "background-image:url('#{@background.image.url}')" unless @background.nil? %>>

  <div class="title">
    Compass
    <small>Centre for Self-Directed Learning</small>
  </div>

  <div class="divider"></div>

  <div class="login-form">

    <%= form_for @user, url: login_authentication_path, 
      html: {method: "post", class: "col s12", autocomplete: "off" } do |f| %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :email, autofocus: true %>
          <%= f.label :email %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, placeholder: "" %>
          <%= f.label :password %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <% if flash[:alert] %>
            <div class="login-refused"><%= flash[:alert] %></div>
          <% end %>
        </div>
      </div>

      <div class="row no-margin">
        <div class="input-field col s12">
          <%= content_tag :button, "Submit",type: :submit, class: "waves-effect waves-light btn" %>
        </div>
      </div>

    <% end %>

  </div>
  
</section>
