<section id="home-1">

  <h1 class="center-align grey-text text-lighten-5">
    Compass<br><small class="hide-on-small-only">Centre for Self-Directed Learning</small>
  </h1>

  <div id="login-signup-container">

    <%= form_for @user, url: login_authentication_path, 
      html: {method: "post", class: "col s12", autocomplete: "off" } do |f| %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :email, autofocus: true %>
          <%= f.label :email %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, placeholder: "" %>
          <%= f.label :password %>
        </div>
      </div>

      <% if flash[:alert] %>
        <div class="login-refused"><%= flash[:alert] %></div>
      <% end %>

      <%= content_tag :button, "Submit",type: :submit, class: "waves-effect waves-light btn login-submit" %>

    <% end %>
  </div>
</section>
