<nav>
  <div class="nav-wrapper">
    <span class="brand-logo"> Meeting</span>
  </div>
</nav>

<section class="section-container">

<div class="row no-margin">
  <div class="col">
    <%= link_to fa_icon("long-arrow-left", text: "Back"), action_plan_path, class: "back" %>
  </div>
</div>

  <%= form_for @meeting, html: { class: "col s12", multipart: true } do |f| %>

    <div class="row no-margin">
      <div class="col s12 center-align">
        <h4><strong>NOTES</strong></h4>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
      <%= f.text_area :notes, placeholder: 'Write whatever you want here?', class: "tinymce-meetings-notes" %>
        </div>
    </div>

        <h5>ACTION ITEMS</h5>

    <%= f.nested_fields_for :action_items do |ff| %>
  
      <div class="row">
        <div class="input-field col s10">
          <%= ff.text_field :description %>
          <%= ff.label :description %>
        </div>
        <div class="input-field col s2">
          <%= ff.text_field :due_date, class: "datepicker" %>
          <%= ff.label :due_date %>
        </div>
      </div>

    <% end %>
    <%= f.add_nested_fields_link :action_items, "Add Action Item", class: " waves-effect waves-light btn cyan" %>



    <%= f.button "Meeting Complete", class: "waves-effect waves-light btn teal" %>

  <% end %>




</section>
