<div class="chip chip-tag" data-index="{{index}}">
<input type="hidden" value="{{name}}" name="project[tags_attributes][{{index}}][name]" 
  id="project_tags_attributes_{{index}}_name">
  {{name}}
  <i class="fa fa-times"></i>
</div>