<nav>
  <div class='nav-wrapper'>
    <span class='breadcrumb'>Dashboard</span>
  </div>
</nav>

<section id='dashboard' class='section-container'>
  <ul class='collapsible' data-collapsible='accordion'>
    <li>
      <%= link_to users_path do %>
      <div class='collapsible-header'>
        <i class='material-icons deep-orange-text text-darken-4'>people</i>
        Manage Students
      </div>
      <% end %>
    </li>
    <li>
      <%= link_to klasses_path do %>
      <div class='collapsible-header'>
        <i class='material-icons deep-orange-text text-darken-4'>chrome_reader_mode</i>
        Manage Classes
      </div>
      <% end %>
    </li>
    <li>
      <%= link_to new_user_resource_path(user_id: @user, general: true) do %>
      <div class='collapsible-header'>
        <i class='material-icons deep-orange-text text-darken-4'>bookmark</i>
        Create General Resources
      </div>
      <% end %>
    </li>
    <li>
      <%= link_to new_user_path(role: :admin) do %>
      <div class='collapsible-header'>
        <i class='material-icons deep-orange-text text-darken-4'>account_circle</i>
        Create Admin Account
      </div>
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_path(role: 'admin', id: @user.id) do %>
      <div class='collapsible-header'>
        <i class='material-icons deep-orange-text text-darken-4'>accessibility</i>
        Account Settings
      </div>
      <% end %>
    </li>
    <li>
      <%= link_to edit_application_settings_path do %>
      <div class='collapsible-header'>
        <i class='material-icons deep-orange-text text-darken-4'>settings</i>
        Application Settings
      </div>
      <% end %>
    </li>
  </ul>

  <%= react_component 'AdminToDoList', { userId: @user.id }, { class: 'things-to-do' } %>
</section>
