<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Admin Dashboard</span>
  </div>
</nav>

<section id="dashboard" class="section-container">
  <div class="row">
      <div class="card">
        <div class="card-header">Things to do</div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
        <div class="card-action-item row no-margin">
          <div class="weekday">1 day ago</div>
          <div class="action-item">
            <div class="name">Steven Robertson</div>
            <div class="desc truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
          </div>
        </div>
    </div>
    <div class="manager">
 
<!--       <div class="list-header">General</div>
      <ul class="fa-ul">
        <li><%= link_to fa_icon("angle-double-right li", text: ' Create admin account'), new_user_path(role: :admin) %></li>
        <li><%= link_to fa_icon("angle-double-right li", text: ' Manage account settings'), edit_user_path(@user) %></li>
        <li><%= link_to fa_icon("angle-double-right li", text: ' Manage calendar'), manage_calendar_path %></li>
      </ul>  -->

      <div class="box orange darken-4">
        <%= link_to users_path do %>
          <%= fa_icon("angle-double-right", text: ' Manage students') %>
          <%= fa_icon "users", class:  "icon no-padding" %>
        <% end %>
      </div>
      <div class="box orange darken-3">
        <%= link_to klasses_path do %>
          <%= fa_icon("angle-double-right", text: ' Manage classes') %>
          <%= fa_icon "book", class:  "icon no-padding" %>
        <% end %>
      </div>
      <div class="box orange darken-2">
        <%= link_to manage_calendar_path do %>
          <%= fa_icon("angle-double-right", text: ' Manage calendar') %>
          <%= fa_icon "calendar", class:  "icon no-padding" %>
        <% end %>
      </div>
      <div class="box orange darken-1">
        <%= link_to new_resource_path(general: true) do %>
          <%= fa_icon("angle-double-right", text: ' Create general resource') %>
          <%= fa_icon "bookmark", class:  "icon no-padding" %>
        <% end %>
      </div>
      <div class="box orange">
        <%= link_to edit_user_path(role: "admin", id: @user.id) do %>
          <%= fa_icon("angle-double-right", text: ' Account settings') %>
          <%= fa_icon "cogs", class:  "icon no-padding" %>
        <% end %>
      </div>
       <div class="box orange lighten-1">
        <%= link_to new_user_path(role: :admin) do %>
          <%= fa_icon("angle-double-right", text: ' Create admin account') %>
          <%= fa_icon "dot-circle-o", class:  "icon no-padding" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>

</section>