<%= render 'portfolio_header' %>

<% if flash[:notice] %>
  <script type="text/javascript">Materialize.toast("<%= flash[:notice] %>", 3500, "teal")</script>
<% end %>

<% if flash[:alert] %>
  <script type="text/javascript">Materialize.toast("<%= flash[:alert] %>", 3500, "red")</script>
<% end %>

<section class="section-container">

  <div id="grid" data-columns class="row">

    <div class="col s12">
      <div class="card-panel project-wrapper hoverable">
        <div class="card-content">
          <%= link_to "", new_user_project_path, class: "project-link" %>
          <div class="add-project"><%= link_to fa_icon("plus-circle"), new_user_project_path %><br><br>Add portfolio piece</div>
        </div>
      </div>
    </div>
    
    <% @projects.each do |project| %>
      <div class="col s12">
        <div class="card project-wrapper hoverable">
          <div class="card-image">
            <%= image_tag project.photo if project.photo.present? %>
          </div>
          <div class="card-content">
            <span class="card-title black-text"><%= project.title %></span>
            <p><%= project.description %></p>
          </div>
          <%= link_to "", user_project_path(@user, project), class: "project-link" %>
        </div>
      </div>
    <% end %>

  </div>

</section>
