<%= render 'layouts/header' %>

<section id="portfolios">
  <div class="porfolio-grid">
    <div class="col">
      <div class="project-wrapper">
        <div class="add-project"><%= link_to fa_icon("plus-circle"), '/projects/new_project' %><br><br>Add portfolio piece</div>
      </div>
      <div class="project-wrapper">
        <div class="add-project"><%= fa_icon("plus-circle") %><br><br>Add portfolio piece</div>
      </div>
    </div>
    <div class="col">
      <div class="project-wrapper">
        <div class="add-project"><%= fa_icon("plus-circle") %><br><br>Add portfolio piece</div>
      </div>
      <div class="project-wrapper">
        <div class="add-project"><%= fa_icon("plus-circle") %><br><br>Add portfolio piece</div>
      </div>
    </div>
    <div class="col">
      <div class="project-wrapper">
        <div class="add-project"><%= fa_icon("plus-circle") %><br><br>Add portfolio piece</div>
      </div>
    </div>
  </div>
</section>