<nav>
  <div class='nav-wrapper'>
    <span class='breadcrumb'>Action Plan</span>
  </div>
</nav>

<section id='action-plan'>
  <ul class='tabs z-depth-1 tabs-fixed-width'>
    <li class='tab'><a href='#todo-action-plan'>Todo List</a></li>
    <li class='tab'><a href='#meetings-action-plan'>Meetings</a></li>
    <li class='tab'><a href='#goals-action-plan'>Goals</a></li>
    <% unless application_settings.hide_feedback %>
      <li class='tab'><a href='#feedback-action-plan'>Feedback</a></li>
    <% end %>
  </ul>

  <%= react_component 'KlassesDisplay', { userArchived: @user.archive, userId: @user.id } %>

  <section class='action-plan-container' id='todo-action-plan'>
    <%= react_component 'ToDo', { userArchived: @user.archive, userId: @user.id, meetingTime: @user.meeting_time, editable: (!@user.archive && can?(:update, ActionItem) || current_user.admin?) } %>
  </section>

  <section class='action-plan-container' id='meetings-action-plan'>
    <%= react_component 'Meetings', { userArchived: @user.archive, userId: @user.id, draftMeetingId: active_user.draft_meeting.try(:id), adminId: (current_user.admin? && current_user.id), editable: !@user.archive && can?(:update, Meeting) } %>
  </section>

  <section class='action-plan-container' id='goals-action-plan'>
    <%= react_component 'Goals', { userArchived: @user.archive, userId: @user.id, editable: !@user.archive && can?(:update, Goal) } %>
  </section>

  <% unless application_settings.hide_feedback %>
    <section class='action-plan-container' id='feedback-action-plan'>
      <%= react_component 'Feedbacks', { userArchived: @user.archive, userId: @user.id, editable: !@user.archive && can?(:update, Feedback) } %>
    </section>
  <% end %>
</section>
