<nav>
  <div class='nav-wrapper'>
    <%= link_to 'Dashboard', admin_dashboard_path, class: 'breadcrumb' %>
    <%= link_to 'Manage Students', users_path, class: 'breadcrumb' unless params[:role] == 'admin' || @user.admin? %>
    <span class='breadcrumb'><%= "Create #{params[:role].capitalize} Account" %></span>
  </div>
</nav>

<section  class='section-container'>
  <div class='row'>
    <h4 class='col s12'><%= "Create #{params[:role].capitalize} Account" %> </h4>
  </div>
  <%= render 'form' %>
</section>
