<section id="header">
  <div class="header-bg" style=<%= "background-image:url('#{@user.profile_background.url}')" unless @user.profile_background.blank? %>>
    <div class="dark-overlay">
    <div class="header-container">

        <div class="row">
          <div class="col s6 m3 l3">
            <div class="student-avatar">
              <%= image_tag @user.avatar.url, class: "responsive-img", style:"border-color: #{@user.profile_color}" %>
            </div>
          </div>

          <div class="col s6 m9 l9">
            <div class="row">
              <div class="col s12">
                <h2 style="color: <%= @user.profile_color%>; text-align: center;"><%= @user.full_name %></h2>   
              </div>
              <div class="col s12 hide-on-small-only">
                <div class="white-text thin med-opacity center-align"><%= @user.description %></div>
              </div>
            </div>
            <div class="social-media row hide-on-small-only">
              <% @user.social_mediums.first(3).each do |sm| %>
                  <div class="item white-text thin med-opacity">
                    <%= link_to sm.link, target: "_blank", title: sm.name do %>
                      <%= fa_icon(sm.icon) %> <br/><%= sm.name %> 
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>

          <div class="social-media row hide-on-med-and-up">
            <% @user.social_mediums.first(3).each do |sm| %>
              <div class="col s4 center-align">
                <span class="white-text thin med-opacity truncate">
                  <%= link_to fa_icon(sm.icon), sm.link, title: sm.name %>
                </span>
              </div>
            <% end %>
          </div>

      </div>
      </div>
    </div>
  </div>
</section>
<section class="section-container no-padding">

<div class="row z-depth-1">
  <ul class="tabs">
    <li class="tab col s6"><a href="#portfolio">Portfolio</a></li>
    <li class="tab col s6"><a href="#resume">Resume</a></li>
  </ul>
</div>

    <div id="portfolio">

      <% if @projects.count == 0 %>
        <h3 class="center-align" style="width: 100%;"> <b><%= @user.username %></b> current has no portfolio pieces.</h3>
      <% end %>

      <div id="portfolio-piece-grid" data-columns class="row container">

        <% @projects.each do |project| %>
          <div class="col s12">
            <div class="card project-wrapper hoverable" style="border-color: <%= @user.profile_color%>">
              <div class="card-image">
                <%= image_tag project.photo if project.photo.present? %>
              </div>
              <div class="card-content">
                <span class="card-title black-text truncate"><%= project.title %></span>
                <p class="grey-text text-darken-1">
                <%= project.description %> 
                </p>  
              </div>
              <%= link_to "", public_project_path(project), class: "project-link", title: project.title %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

  <div id="resume" class="thin-container">
    <h2><b>Resume</b></h2>

    <% @user.resume_entries.each do |resume_entry| %>

      <div class="entry">
        <div class="title">
          <%= resume_entry.title %>
        </div>

        <div class="sub-title">
          <% resume_entry.subtitle.present? ? content_tag(:div, resume_entry.subtitle) : nil %>
          <%= resume_entry.date %>
        </div>

        <div class="description">
          <%= resume_entry.description%>
        </div>
      </div>

    <% end %>

  </div>

</section>