<% date_completed = @project.date_completed.strftime("%d %B, %Y") if @project.date_completed.present? %>

<%= form_for [@user, @project], html: { class: "col s12 new-project", multipart: true } do |f| %>

  <div class="row">
    <div class="input-field col s12 m9 l5">
      <%= f.text_field :title %>
      <%= f.label :title, "TITLE" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m9 l5">
      <%= f.text_field :location, class: "location-autocomplete" %>
      <%= f.label :location, "LOCATION" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m9 l5">
      <%= f.date_field :date_completed, value: date_completed %>
      <%= f.label :date_completed, "DATE" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
    <%= f.text_field :description, placeholder: '200 characters maximum', length: "200" %>
    <%= f.label :description, "BRIEF DISCRIPTION" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
    <%= f.text_area :body, placeholder: 'Write whatever you want here?', class: "materialize-textarea resize-vertical"  %>
    <%= f.label :body, "BODY" %>
    </div>
  </div>

  <h5 class="teal-text text-darken-4">Display Photo</h5>

  <div class="row">
    <div class="file-field input-field col s12">
      <div class="btn teal darken-4">
        <span>Photo</span>
        <%= f.file_field :photo %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path" type="text" placeholder="Upload one photo" value="<%= @project.photo.original_filename %>">
      </div>
    </div>
  </div>

  <h5 class="teal-text text-darken-4 hide-on-small-only">Attachments</h5>

  <div class="row hide-on-small-only">
    <div class="file-field input-field col s12">
      <div class="btn teal darken-4">
        <span>PDF File</span>
        <%= file_field_tag('project_project_attachments_document', 
          multiple: true, name: "project[project_attachments_attributes][][document]") %>
      </div>
      <div class="file-path-wrapper">
        <% pa_str = @project.project_attachments.map { |pa| pa.document.original_filename }.join(", ") %>
        <input class="file-path" type="text" placeholder="Upload one or more documents" value="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="switch col s12 m9 l5">
      <%= f.label :priority do %>
        Normal
        <%= f.check_box :priority %>
        <span class="lever"></span>
        High
      <% end %>
    </div>
  </div>

  <div class="right">
    <%= content_tag :button, "Save", type: :submit, class: "waves-effect waves-light btn teal" %>
    <%= link_to 'Delete', [@project.user, @project], method: :delete, class: "waves-effect waves-light btn red" unless @project.new_record? %>
  </div>
<% end %>