<% date_completed = @project.date_completed.strftime('%d %B, %Y') if @project.date_completed.present? %>

<%= form_for [@user, @project], html: { class: 'one-page', multipart: true } do |f| %>

  <div class='row'>
    <div class='input-field col s12 m6'>
      <%= f.text_field :title %>
      <%= f.label :title %>
    </div>
    <div class='input-field col s12 m6'>
      <%= f.text_field :date_completed, value: date_completed, class: 'datepicker' %>
      <%= f.label :date_completed %>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
    <%= f.text_area :description, length: '200', class: 'materialize-textarea' %>
    <%= f.label :description, 'Brief Description' %>
    </div>
  </div>

  <div class='row'>
    <div class='input-field col s12'>
    <%= f.text_area :body, placeholder: 'Write whatever you want here?', class: 'tinymce' %>
      </div>
  </div>

  <div class='row'>
    <div class='input-field col s12 tagger'>
      <%= text_field_tag :tag, nil, class: 'tag', placeholder: 'Enter tag and press enter' %>
      <%= label_tag :tag %>
      <ul class='autocomplete-dropdown'>
      </ul>
      <div class='tag-container'>
        <!-- This is here just to initiate tags. -->
        <%= f.fields_for :tags do |ff| %>
          <% next if ff.object.new_record? %>
          <div class='chip chip-tag' data-index='<%= ff.index %>'>
            <%= ff.object.name %>
            <i class='fa fa-times'></i>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='file-field input-field col s12'>
      <div class='btn teal darken-4'>
        <span>Display Photo</span>
        <%= f.file_field :photo %>
      </div>
      <div class='file-path-wrapper'>
        <input class='file-path' type='text'
          placeholder='Upload one photo' value='<%= @project.photo.original_filename %>'>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='file-field input-field col s12'>
      <div class='btn teal darken-4'>
        <span>ATTACHMENT</span>
        <%= f.file_field :document %>
      </div>
      <div class='file-path-wrapper'>
        <input class='file-path' type='text'
          placeholder='Upload a document' value='<%= @project.document.original_filename %>'>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='switch col s12 m9 l5'>
      <%= f.label :priority do %>
        Normal
        <%= f.check_box :priority %>
        <span class='lever'></span>
        High
      <% end %>
    </div>
  </div>

  <%= f.button 'Save', class: 'waves-effect waves-light btn teal' %>
  <%= link_to 'Delete', [@user, @project], method: :delete,
    class: 'waves-effect waves-light btn red darken-2' unless @project.new_record? %>

<% end %>
