<section id="header">
  <div class="header-bg" style=<%= "background-image:url('#{@user.profile_background.url}')" unless @user.profile_background.blank? %>>
    <div class="dark-overlay">
    <div class="header-container">

      <%= link_to fa_icon("cog", text: "Edit", right: true), user_edit_profile_path(@user),
        class: "student-edit"%>
        
        <div class="row">
          <div class="col s6 m3 l3">
            <div class="student-avatar">
              <%= image_tag @user.avatar.url, class: "responsive-img", style:"border-color: #{@user.profile_color}" %>
            </div>
          </div>

          <div class="col s6 m9 l9">
            <div class="row">
              <div class="col s12">
                <h2 style="color: <%= @user.profile_color%>; text-align: center;"><%= @user.full_name %></h2>   
              </div>
              <div class="col s12 hide-on-small-only">
                <div class="white-text thin med-opacity center-align description"><%= @user.description %></div>
              </div>
            </div>
            <div class="social-media row hide-on-small-only">
              <% @user.social_mediums.first(3).each do |sm| %>
                  <div class="item white-text thin med-opacity">
                    <%= link_to sm.link, target: "_blank", title: sm.name do %>
                      <%= fa_icon(sm.icon) %> <br/><%= sm.name %> 
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>
        </div>

          <div class="social-media row hide-on-med-and-up">
            <% @user.social_mediums.first(3).each do |sm| %>
              <div class="col s4 center-align">
                <span class="white-text thin med-opacity truncate">
                  <%= link_to fa_icon(sm.icon), sm.link, title: sm.name %>
                </span>
              </div>
            <% end %>
          </div>

      </div>
      </div>
    </div>
  </div>
</section>