<section id="header">
  <div class="header-bg-wrapper">
    <div class="header-bg">

      <%= link_to fa_icon("cog", text: "Edit", right: true), user_edit_profile_path(@user), class: "student-edit"%>

      <div class="container">
        
        <div class="row">
          <div class="col s6 m3 l3">
            <div class="student-avatar">
              <%= image_tag @user.avatar.url, class: "responsive-img" %>
            </div>
          </div>

          <div class="col s6 m9 l9">
            <div class="row">
              <div class="col s12">
                <h2 class="cyan-text text-lighten-2"><%= @user.full_name %></h2>   
              </div>
              <div class="col s12 hide-on-small-only">
                <span class="white-text thin med-opacity"><%= @user.description %></span>
              </div>
            </div>
            <div class="social-media row hide-on-small-only">

            <% @user.social_mediums.first(3).each do |sm| %>
              <div class="col s4 m4 l4">
                <span class="white-text thin med-opacity truncate">
                  <%= link_to fa_icon(sm.icon, text: sm.name), sm.link, target: "_blank", title: sm.name %>
                </span>
              </div>
            <% end %>

            </div>
          </div>
        </div>

          <div class="social-media row hide-on-med-and-up">
            <% @user.social_mediums.first(3).each do |sm| %>
              <div class="col s4 center-align">
                <span class="white-text thin med-opacity truncate">
                  <%= link_to fa_icon(sm.icon), sm.link, title: sm.name %>
                </span>
              </div>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</section>