<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> Could not save project because:</h2>
      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= f.text_field :title, placeholder: "Name" %>
  </div>
  <div>
      <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <div>
      <%= f.text_area :resume, placeholder: "Resume" %>
  </div>
  <div>
      <%= f.number_field :difficulty, placeholder: "difficulty" %>
  </div>
  <div>
      <%= f.number_field :photo_file_name %>
  </div>
  <div>
    <%= f.submit "Save" %>
  </div>
<% end %>