<section id="project-modal">
	<%= form_for [@user, @project] do |f| %>
	  <%= f.text_field :title, placeholder: "TITLE", class: 'modal-input' %>
	  <%= f.text_area :description, placeholder: "DESCRIPTION", rows: 3, class: 'modal-input' %>
	  <%= f.url_field :link, placeholder: "URL", class: 'modal-input' %>
	  <label class="modal-file-upload">
	    <%= f.file_field :photo %>
	    UPLOAD PHOTO <small>(optional)</small><span class="modal-file-name"></span>
	  </label>
	  <%= f.submit "ADD PORTFOLIO PIECE", class: 'modal-submit' %>
	<% end %>
</section>

<div class="modal-wrapper"></div>
