<section id="project-modal">
	<%= form_for @project do |f| %>
	  <%= f.text_field :title, placeholder: "TITLE", class: 'project-input' %>
	  <%= f.text_field :description, placeholder: "DESCRIPTION", class: 'project-input' %>
	  <%= f.url_field :link, placeholder: "URL", class: 'project-input' %>
	  <label class="project-file-upload">
	    <%= f.file_field :photo %>
	    UPLOAD PHOTO <small>(optional)</small><span class="project-file-name"></span>
	  </label>
	  <%= f.submit "ADD PORTFOLIO PIECE", class: 'project-submit' %>
	<% end %>
</section>

<div class="modal-wrapper"></div>