<section class="section-container no-padding public-project">

    <div class="hide-on-small-only project-nav left-arrow">
      <%= link_to fa_icon("angle-left"), public_project_path(@project.previous), class: "nav-left" %>
    </div>

    <div class="project-content">
      <div class="thin-container">

        <div class="menu"></div>

        <%= link_to fa_icon("th"), "/#{@project.user.username}", 
          class: "btn-floating btn-large waves-effect waves-light teal left" %> 

        <h1 class="center-align thick"><%= @project.title %></h1>

        <hr>

        <div class="center-align thin teal-text">
          <%= @project.date_completed.strftime("%B %d, %Y / ") if @project.date_completed.present? %>
          <%= " By <span class=\"normal\">#{@project.user.full_name}</span>".html_safe %>
        </div>

        <div class="show-tag center-align thin teal-text text-darken-1 ">
          <% @project.tags.each do |tag| %>
            <div class="chip">
              <span><%= tag.name %></span>
            </div>
          <% end %>
        </div>

        <br>

        <div class="flow-text center-align "><i><%= @project.description %></i></div>

        <% if @project.photo.present? %>
          <div class="show-display-image">
            <%= image_tag @project.photo.url, class: "responsive-img materialboxed" %>
          </div>
        <% end %>

        <div class="project-body">
        <%= @project.body.html_safe %>
        </div>

        <% if @project.document.present? %>
          <h6 class="bold">Attachment</h6>
            <ul>
              <li><%= link_to @project.document.original_filename, download_project_path(@project) %></li>
            </ul>
        <% end %>

      </div>

    </div>

    <div class="hide-on-small-only project-nav right-arrow">
      <%= link_to fa_icon("angle-right"),public_project_path(@project.next), class: "nav-right" %>
    </div>
  </div>


</section>

