<section class="section-container no-padding">

  <div class="row">

    <div class="col m1 hide-on-small-only">
      .
    </div>

    <div class="col s12 m10">
      <div class="container">
        <h1 class="center-align thick"><%= @project.title %></h1>

        <hr>

        <div class="center-align thin teal-text">
          <%= @project.date_completed.strftime("%B %d, %Y / ") if @project.date_completed.present? %>
          <%= " In <span class=\"normal\">#{@project.location}</span> / ".html_safe if @project.location.present? %>
          <%= " By <span class=\"normal\">#{@project.user.full_name}</span>".html_safe %>
        </div>

        <br><br>

        <div class="center-align flow-text">
          <i><%= @project.description %></i>
        </div>

        <% if @project.photo.present? %>
          <div class="show-display-image">
            <%= image_tag @project.photo.url, class: "responsive-img materialboxed" %>
          </div>
        <% end %>

        <div class="project-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

    <div class="col m1 hide-on-small-only">
      .
    </div>
<!-- 
    <div class="col s4">
      <h3><%= @project.title %></h3>
      <p><%= @project.user.full_name %></p>
      <p>When: <%= @project.date_completed %></p>
      <p>Where: <%= @project.location %></p>
    </div>

    <div class="col s8 show-display-image">
      <%= image_tag @project.photo.url, class: "responsive-img materialboxed" %>
    </div>
 -->
  </div>


</section>

