<section class="section-container no-padding">

  <div class="row">

    <div class="col m1 hide-on-small-only project-nav">
      <%= link_to fa_icon("angle-left", text: "Previous"), [@project.user, @project.previous], class: "nav-left" %>
    </div>

    <div class="col s12 m10 project-content">
      <div class="container">

        <div class="menu"></div>
       
        <%= link_to fa_icon("pencil"), edit_user_project_path(@project.user, @project), 
          class: "btn-floating btn-large waves-effect waves-light teal right" %> 

        <%= link_to fa_icon("th"), user_projects_path, 
          class: "btn-floating btn-large waves-effect waves-light teal left" %> 

        <h1 class="center-align thick"><%= @project.title %></h1>

        <hr>

        <div class="center-align thin teal-text">
          <%= @project.date_completed.strftime("%B %d, %Y / ") if @project.date_completed.present? %>
          <%= " By <span class=\"normal\">#{@project.user.full_name}</span>".html_safe %>
        </div>

        <div class="show-tag center-align thin teal-text text-darken-1 ">
          <% @project.tags.each do |tag| %>
            <div class="chip">
              <span><%= tag.name %></span>
            </div>
          <% end %>
        </div>

        <% if @project.photo.present? %>
          <div class="show-display-image">
            <%= image_tag @project.photo.url, class: "responsive-img materialboxed" %>
          </div>
        <% end %>

        <div class="project-body">
        <%= @project.body.html_safe %>
        </div>
      </div>

      <!-- 
        <h1>PDF</h1>
      <% @project.project_attachments.each do |pa| %>
        <%= image_tag pa.document(:pdf_thumbnail) %>
      <% end %> -->
    </div>

    <div class="col m1 hide-on-small-only project-nav">
      <%= link_to fa_icon("angle-right", text: "Next"),[@project.user, @project.next], class: "nav-right" %>
    </div>
  </div>


</section>

