<section class="section-container no-padding">

  <div class="row">

    <div class="col m1 hide-on-small-only project-nav">
      <%= link_to fa_icon("angle-left"), @project.previous, class: "nav-left" %>
    </div>

    <div class="col s12 m10 project-content">
      <div class="container">

        <div class="menu"></div>
       
        <%= link_to fa_icon("pencil"), edit_project_path(@project), 
          class: "btn-floating btn-large waves-effect waves-light teal right" %> 

        <%= link_to fa_icon("th"), projects_path, 
          class: "btn-floating btn-large waves-effect waves-light teal left" %> 

        <h1 class="center-align thick"><%= @project.title %></h1>

        <hr>

        <div class="center-align thin teal-text">
          <%= @project.date_completed.strftime("%B %d, %Y / ") if @project.date_completed.present? %>
          <%= " By <span class=\"normal\">#{@project.user.full_name}</span>".html_safe %>
        </div>

        <div class="show-tag center-align thin teal-text text-darken-1 ">
          <% @project.tags.each do |tag| %>
            <div class="chip">
              <span><%= tag.name %></span>
            </div>
          <% end %>
        </div>

        <br>

        <div class="flow-text center-align "><i><%= @project.description %></i></div>

        <% if @project.photo.present? %>
          <div class="show-display-image">
            <%= image_tag @project.photo.url, class: "responsive-img materialboxed" %>
          </div>
        <% end %>

        <div class="project-body">
        <%= @project.body.html_safe %>
        </div>
      </div>

      <% if @project.project_attachments.present? %>
        <h6 class="bold">Attachments</h6>
          <ul>
        <% @project.project_attachments.each do |pa| %>
          <li><%= link_to pa.document.original_filename, project_attachments_path(pa.id) %></li>
        <% end %>
          </ul>
      <% end %>

    </div>

    <div class="col m1 hide-on-small-only project-nav">
      <%= link_to fa_icon("angle-right"), @project.next, class: "nav-right" %>
    </div>
  </div>


</section>

