<% @category = params[:category].present? ? params[:category] : @resource.category %>

<%= form_for @resource, html: { multipart: true } do |f| %>

  <div class="row">
    <div class="input-field col s12 m9 l5">
      <%= f.text_field :title %>
      <%= f.label :title %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m9 l5">
      <%= f.url_field :link %>
      <%= f.label :link %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m9 l5">
      <%= f.text_area :description, placeholder: '200 characters maximum', 
        length: "200", class: "materialize-textarea resize-vertical" %>
      <%= f.label :description %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12 m9 l5 category-autocomplete">
      <%= f.text_field :category, value: @category %>
      <%= f.label :category %>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class="row">
      <div class="switch col s12 m9 l5">
        <label for="_calendar_show" style="font-size: 1rem; margin-bottom: 15px; display: block;">Set general resource</label>
        <%= f.label :general do %>
          <%= f.check_box :general, checked: params[:general].present? %>
          <span class="lever"></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <%= content_tag :button, "Save", type: :submit, class: "waves-effect waves-light btn teal" %>
    <%= link_to 'Delete', @resource, method: :delete, 
      class: "waves-effect waves-light btn red" unless @resource.new_record? %>
  </div>
<% end %>
