<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Links</span>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%= link_to fa_icon("plus-square"), 
    new_user_resource_path(current_user), class: "right" %> 
      </ul>

  </div>
</nav>

<section class="section-container">

  <div class="row">
    <div class="resource-item col s12 m3">
      <div class="resource-category thick z-depth-1">
        <%= link_to "Online Courses", new_user_resource_path(current_user, select: "Online Courses"), class: "truncate"  %>
      </div>
      <ul>
      <% @resources.where(category: "Online Courses").each do |resource| %>
        <li>
          <%= link_to resource.title, resource.link, class: "purple-text thick", target: "_blank" %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="resource-item col s12 m3">
      <div class="resource-category thick z-depth-1">
        <%= link_to "Job Sites", new_user_resource_path(current_user, select: "Job Sites"), class: "truncate"  %>
      </div>
      <ul>
      <% @resources.where(category: "Job Sites").each do |resource| %>
        <li>
          <%= link_to resource.title, resource.link, class: "purple-text thick", target: "_blank" %>
        </li>
      <% end %>
      </ul>
    </div>

    <div class="resource-item col s12 m3">
      <div class="resource-category thick z-depth-1">
        <%= link_to "Community", new_user_resource_path(current_user, select: "Community"), class: "truncate"  %>
      </div>
      <ul>
      <% @resources.where(category: "Community").each do |resource| %>
        <li>
          <%= link_to resource.title, resource.link, class: "purple-text thick", target: "_blank" %>
        </li>
      <% end %>
      </ul>
    </div>

  </div>

</section>