<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Resources</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%= link_to fa_icon("plus-square"), new_user_resource_path(current_user), class: "right" %> 
    </ul>
  </div>
</nav>

<section class="section-container">

  <div id="category-grid" data-columns class="row">
    <% @resources.pluck(:category).uniq.each do |category| %>
      <div class="resource-item col s12">
        <div class="resource-category thick z-depth-1">
          <%= link_to category, "#edit-category-modal", class: "truncate modal-trigger" %>
        </div>
        <ul>
        <% @resources.where(category: category).each do |resource| %>
          <li>
            <%= link_to resource.title, resource.link, class: "purple-text thick", target: "_blank" %>
            <%= link_to fa_icon("trash-o"), [current_user, resource], method: :delete, 
              data: {confirm: 'Are you sure?'}, class: "right" %>
            <%= link_to fa_icon("pencil"), edit_user_resource_path(current_user, resource), class: "right" %>
            <%= content_tag :p, "#{resource.description}" if resource.description.present? %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

</section>


<div id="edit-category-modal" class="modal">
  <%= form_tag change_category_user_resources_path(current_user), {id: "ugh", remote: true, "data-type" => "json" } do %>

    <div class="modal-content">
      <%= hidden_field_tag :old_category %>
      <div class="row">
        <div class="input-field col s12">
          <%= text_field_tag :new_category %>
          <%= label_tag :new_category, "new category name" %>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <%= submit_tag "Change Category Name", class: 'btn' %>
    </div>

  <% end %>
</div>
         