<nav>
  <div class="nav-wrapper">
    <span class="brand-logo">Links</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <%= link_to fa_icon("plus-square"), new_user_resource_path(current_user), class: "right" %> 
    </ul>
  </div>
</nav>

<section class="section-container">

  <div id="category-grid" data-columns class="row">
    <% @resources.pluck(:category).uniq.each do |category| %>
      <div class="resource-item col s12">
        <div class="resource-category thick z-depth-1">
          <%= link_to category, new_user_resource_path(current_user, category: category), class: "truncate" %>
        </div>
        <ul>
        <% @resources.where(category: category).each do |resource| %>
          <li>
            <%= link_to resource.title, resource.link, class: "purple-text thick", target: "_blank" %>
            <%= link_to fa_icon("trash-o"), [current_user, resource], method: :delete, 
              data: {confirm: 'Are you sure?'}, class: "right" %>
            <%= link_to fa_icon("pencil"), edit_user_resource_path(current_user, resource), class: "right" %>
            <%= content_tag :p, "#{resource.description}" if resource.description.present? %>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>

</section>
