<nav>
  <div class='nav-wrapper'>
    <%= link_to 'Dashboard', admin_dashboard_path, class: 'breadcrumb' %>
    <span class='breadcrumb'>Teacher Feedback</span>
  </div>
</nav>

<section class='section-container'>

  <%= link_to new_feedback_path, class: 'btn-floating waves-effect btn-large right' do %>
   <i class='material-icons'>add</i>
  <% end %>

  <div style='max-width: 700px; margin: 0 auto;'>
    <% @feedbacks.each do |feedback| %>
    <div class='card'>
      <div class='card-content'>
        <h6 class='grey-text text-darken-2 no-margin'><%= feedback.name %> - <%= feedback.subject %> </h6>
        <p class='grey-text text-darken-1'><small><%= feedback.created_at.strftime('%B %e, %Y') %></small></p>
        <br>
        <p class='grey-text text-darken-1'><%= feedback.text.html_safe %></p>
        </div>
        <div class='card-action'>
          <%= link_to 'edit', edit_feedback_path(feedback) %>
        </div>
      </div>
    <% end %>
  </div>

  <%= will_paginate @feedbacks %>

</section>
