  <%= form_for @course do |f| %>
    <%= f.text_field :name, placeholder: "NAME", class: 'modal-input' %>
    <%= f.text_area :description, placeholder: "DESCRIPTION", rows: 3, class: 'modal-input' %>
    <label class="modal-file-upload">
      <%= f.file_field :photo %>
      UPLOAD PHOTO <small>(optional)</small><span class="modal-file-name"></span>
    </label>
    <%= f.submit "ADD COURSE", class: 'modal-submit' %>
  <% end %>




