<section id="actions-header">
  <%= link_to fa_icon("angle-left", text: @goal.title), user_goals_path, class: 'back' %>
  <%= link_to fa_icon("plus-circle"), "#", class: 'add' %>
</section>

<section id="goals-side-panel">
  <ul class="courses">
    <li>Courses<%= link_to fa_icon('plus-circle'), '#', class: 'add course' %></li>
    <% @user.courses.each do |course| %>
      <li><%= course.name %></li>
    <% end %>
  </ul>
  <ul class="activities">
    <li>Activities<%= link_to fa_icon('plus-circle'), '#', class: 'add activity'  %></li>
    <% @user.activities.each do |activity| %>
      <li><%= link_to activity.name, "#" %></li>
    <% end %>
  </ul>
  <ul class="projects">
    <li>Project</li>
    <% @user.projects.each do |project| %>
      <li><%= link_to project.title, project.link %></li>
    <% end %>
  </ul>
</section>

<section id="actions">
  <section id="new-action">
    <%= form_for @action, url: user_goal_actions_path(goal_id: @goal.id) do |f| %> 
      <div class="action-item">Action</div>
      <%= f.label :note %>
      <%= f.text_area :note %>
      <div class="action-item">Action Item</div>
      <%= f.fields_for :action_items do |ai| %>
        <%= ai.label :description %>
        <%= ai.text_area :description %>
        <%= ai.label :due_date, "Due" %>
        <%= ai.text_field :due_date, class: 'due-date' %>
      <% end %>
      <br>
      <%= f.submit %>
    <% end %>
  </section>
</section>

<%= render 'users/add_courses'%>
<%= render 'activities/new'%>