<%= form_for [@user, @resource], html: { multipart: true, class: 'one-page resource-form' } do |f| %>

  <div class='row'>
    <div class='col s12 m6 input-field'>
      <%= f.text_field :title %>
      <%= f.label :title %>
    </div>

    <div class='col s12 m6 input-field'>
      <%= f.url_field :link %>
      <%= f.label :link %>
    </div>
  </div>

  <div class='row'>
    <div class='col s12 input-field'>
      <%= f.text_area :description,
        length: '200', class: 'materialize-textarea resize-vertical' %>
      <%= f.label :description %>
    </div>
  </div>

  <div class='row'>
    <div class='col s12 m6 input-field'>
      <%= f.text_field :category, class: 'category-autocomplete', autocomplete: 'off' %>
      <%= f.label :category %>
    </div>
  </div>

  <% if current_user.admin? %>
    <div class='row'>
      <div class='col s12 switch'>
        <label for='resource_general' style='font-size: 1rem; margin-bottom: 15px; display: block;'>Set general resource</label>
        <%= f.label :general do %>
          <%= f.check_box :general, checked: (params[:general].present? || @resource.general) %>
          <span class='lever'></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class='row'>
    <div class='col s12'>
      <%= f.button 'Save', class: 'waves-effect waves-light btn' %>
      <%= link_to 'Delete', [@user, @resource], method: :delete, data: { confirm: 'Are you positive that you want to delete this resource?' }, class: 'waves-effect waves-light btn red darken-2' unless @resource.new_record? %>
    </div>
  </div>
<% end %>
