<section id="header">
  <div class="header-bg-wrapper">
    <div class="header-bg">
    <%= link_to fa_icon("cog", text: "Edit", right: true), "#", class: "student-edit"%>

      <div class="header-container">
      <div id="show_user">
        <div class="avatar-column">
          <%= image_tag @user.avatar.url, class: 'edit-avatar' %>
        </div>
        <div class="student-name"><%= "#{@user.first_name} #{@user.last_name}"%></div>
        <div class="student-description"><%= @user.description %></div>
        <div class="social-container">
          <% if @user.tumblr.present? %>
            <span class="social"><%= link_to fa_icon("tumblr", text: @user.tumblr), @user.tumblr_url %></span>
          <% end %>
          <% if @user.twitter.present? %>
            <span class="social"><%= link_to fa_icon("twitter", text: @user.twitter), @user.twitter_url %></span>
          <% end %>
          <% if @user.instagram.present? %>
            <span class="social"><%= link_to fa_icon("instagram", text: @user.instagram), @user.instagram_url %></span>
          <% end %>
        </div>
      </div>
      <%= render 'users/edit'%>
      </div>
    </div>
  </div> 
</section>


