<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only">
  <i class="material-icons grey-text">menu</i>
</a>

<ul id="slide-out" class="side-nav fixed grey darken-4" data-no-turbolink>

  <%= image_tag ENV['LOGO_LINK'], class: "logo" %>

  <%= side_panel_link(admin_dashboard_path, "user", "Admin") if current_user.admin? %>
  <%= side_panel_link(action_plan_user_path(current_user), "desktop", "Action Plan") unless current_user.admin? %>
  <%= side_panel_link(calendar_path, "calendar-o", "Class Calendar") if (Calendar.first.try(:show) && Calendar.first.try(:calendar_id) != "") %>
  <%= side_panel_link(user_resources_path(current_user), "bookmark", "Resources") %>
  <%= side_panel_link(user_portfolio_path(current_user), "user", "Portfolio") %>

  <li>
    <%= link_to fa_icon("sign-out", text: "Sign Out"), logout_path, class: "grey-text text-darken-1" %>
  </li>

  <%= link_to "Back to Admin Account", access_admin_path, class: "btn white-text" if session[:admin_id].present? %>

</ul>
