<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only">
  <i class="mdi-navigation-menu grey-text "></i>
</a>


<ul id="slide-out" class="side-nav fixed grey darken-4">

  <div class="side-title">C<%= image_tag "logo.png"%>MPASS</div>

  <li ><%= link_to fa_icon("desktop", text: "Action Plan"), "#", class: "grey-text text-darken-1" %></li>
  <li><%= link_to fa_icon("calendar-o", text: "Class Calendar"), "#", class: "grey-text text-darken-1" %></li>
  <li><%= link_to fa_icon("bookmark", text: "Resources"), "#", class: "grey-text text-darken-1" %></li>
  <li <%= 'class=active-tab' if current_page? user_projects_path(user_id: @user.id) %> >
    <%= link_to fa_icon("user", text: "Portfolio"), user_projects_path(@user), class: "grey-text text-darken-1" %>
  </li>    

  <li data-no-turbolink>
    <%= link_to fa_icon("sign-out", text: "Sign Out"), logout_path, class: "grey-text text-darken-1" %>
  </li>

</ul>
