<section id="side-panel">
  <div class="side-title">C<%= image_tag "logo.png"%>MPASS</div>
  <div class="menu">
    <ul class="menu">
      <li class="menu-item"><%= link_to fa_icon("desktop", text: "Action Plan"), "#"%></li>
      <li class="menu-item"><%= link_to fa_icon("calendar-o", text: "Class Calendar"), "#"%></li>
      <li class="menu-item"><%= link_to fa_icon("bookmark", text: "Resource"), "#"%></li>
      <li class="menu-item"><%= link_to fa_icon("user", text: "Portfolio"), "#"%></li>
    </ul>
  </div>
  <div class="menu-bottom">
    <ul class="menu">
      <li class="menu-item"><%= link_to fa_icon("sign-out", text: "Sign Out"), "#"%></li>
    </ul>
  </div>
</section>