<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only">
  <i class="mdi-navigation-menu grey-text "></i>
</a>


<ul id="slide-out" class="side-nav fixed grey darken-4 z-depth-4">

  <div class="side-title">C<%= image_tag "logo.png"%>MPASS</div>

  <%= side_panel_link(action_plan_path, "desktop", "Action Plan") %>
  <%= side_panel_link(calendar_path, "calendar-o", "Class Calendar") %>
  <%= side_panel_link(user_resources_path(@user), "bookmark", "Resources") %>
  <%= side_panel_link(user_projects_path(@user), "user", "Portfolio") %>

  <li data-no-turbolink>
    <%= link_to fa_icon("sign-out", text: "Sign Out"), logout_path, class: "grey-text text-darken-1" %>
  </li>

</ul>
