<section id="side-panel">
  <div class="side-title">C<%= image_tag "logo.png"%>MPASS</div>
  <div class="menu">
    <ul class="menu">
      <li class="menu-item" <%= 'style= background-color:#333;color:#eee;border-left-width:5px;border-left-style:solid;border-left-color:#ee6508;' if current_page?(user_goals_path(user_id: @user.id)) %> >
        <%= link_to fa_icon("desktop", text: "Action Plan"), user_goals_path(@user) %>
      </li>
      <li class="menu-item"><%= link_to fa_icon("calendar-o", text: "Class Calendar"), "/static_pages/calender"%></li>
      <li class="menu-item"><%= link_to fa_icon("bookmark", text: "Resource"), "#"%></li>
      <li class="menu-item" <%= 'style= background-color:#333;color:#eee;border-left-width:5px;border-left-style:solid;border-left-color:#ee6508;' if current_page?(user_portfolios_path(user_id: @user.id)) %> >
        <%= link_to fa_icon("user", text: "Portfolio"), user_portfolios_path(@user) %>
      </li>
    </ul>
  </div>
  <div class="menu-bottom">
    <ul class="menu">
      <li class="menu-item"><%= link_to fa_icon("sign-out", text: "Sign Out"), logout_path %></li>
    </ul>
  </div>
</section>