<!DOCTYPE html>
<html lang='en'>
<head>
  <title>Compass</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag "salvattore.min", :debug => false %>
</body>
</html>
