<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= ENV['TITLE'] %></title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,400,300' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <%= render "layouts/flash", :flash => flash %>
  <%= render 'layouts/side_panel' %>
  <main>
    <%= yield %>
  </main>
  <%= javascript_include_tag "salvattore.min", :debug => false %>
</body>
</html>
