<%= form_for @klass do |f| %>

  <div class="row">
    <div class="input-field small-input">
      <%= f.text_field :name %>
      <%= f.label :name, "Title" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field small-input">
      <%= f.text_area :description, class: "materialize-textarea" %>
      <%= f.label :description %>
    </div>
  </div>

  <div class="row">
    <div class="input-field small-input">
      <%= f.text_field :weekday %>
      <%= f.label :weekday %>
    </div>
  </div>

  <div class="row">
    <div class="input-field small-input">
      <%= f.text_field :time %>
      <%= f.label :time %>
    </div>
  </div>

  <div class="row">
    <div class="input-field small-input">
      <%= f.url_field :google_drive_url %>
      <%= f.label :google_drive_url %>
    </div>
  </div>

  <div class="row">
    <div class="input-field small-input">
      <%= f.text_field :instructor %>
      <%= f.label :instructor %>
    </div>
  </div>

  <div class="row">
    <div class="input-field small-input">
      <%= f.text_field :start_date, class: "datepicker" %>
      <%= f.label :start_date %>
    </div>
  </div>

  <div class="row">
    <div class="input-field small-input">
      <%= f.text_field :end_date, class: "datepicker" %>
      <%= f.label :end_date %>
    </div>
  </div>

  <div style="padding-left: 0.75rem;">
    <%= content_tag :button, "Save", type: :submit, class: "waves-effect waves-light btn teal" %>
    <%= link_to 'Delete', @klass, method: :delete, 
      class: "waves-effect waves-light btn red" unless @klass.new_record? %>
  </div>
<% end %>